@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
 
}

.box-container{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(130px,auto);
}



.box{
    border: 1px solid  rgba(255, 255, 255, 0.221);

    border-radius: 5px;
    padding: 10px;
}

.box-length{
    grid-row: span 3;
}

.box-width{
    grid-column: span 2;
    grid-row: span 2;
}

@media (max-width: 1080px) {
   .box-container{
    display: block;
   }
   body{
    background-color: #2a3447;;
   }
}